@import url();

/* import the url of the fonts here  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #e4e9f7;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box {
    /* background: #fdfdfd; */
    color: #fff;
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 10px 25px 30px rgba(0, 0, 0, 1);
    
}

.form-box {
    width: 450px;
    margin: 0px 10px;
    background-color: #222;
    box-shadow: 10px 25px 30px rgba(0, 0, 0, 1);
}

.form-box header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
    color: #fff;
}

.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #222222;
    color: #fff;
    border: 1px solid #ccc;
    outline: none;
}

.form-box form .input label{
    color: #fff;
}

.btn {
    display: relative;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    transition-duration: 0.5s;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    border: 1px solid;
}

.btn:hover {
    background-color: #fff;
  color: #222;
}

.submit {
    width: 100%;
}

.links {
    margin-bottom: 15px;
    color: #fff;
}

.links a{
    color: #e9b23b;
}


/* ***********Home*************** */

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}

.logo{
    font-size: 25px;
    font-weight: 900;
}

.logo a{
    text-decoration: none;
    color: #000;
}

.right-links a{
   padding: 0 10px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom{
    width: 100%;
    margin-top: 20px;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
} 

.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border: 1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;

}
/* .goodmessage{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border: 1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: green;
} */