* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
}

form {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 580px;
  background-color: #222222;
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 10px 25px 30px rgba(0, 0, 0, 1);
}
form h3 {
  margin: 0px auto 30px auto;
  font-size: 40px;
  color: #fff;
}
form .container {
  /* width: 800px; */
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  font-size: 20px;
  color: #fff;
}
form .container input,
textarea {
  width: 450px;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  background-color: #222222;
}

form .container input {
  height: 30px;
  font-size: 15px;
}

form .container textarea {
  margin-bottom: 10px;
}

form button {
  height: 50px;
  width: 100px;
  margin: auto;
  font-size: 17px;
  font-weight: 600;
  border-radius: 8px;
  transition-duration: 0.5s;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  border: 1px solid;
}

form button:hover {
  background-color: #fff;
  color: #222;
}
.op {
  display: flex;
  flex-direction: row;
  margin: auto;
}
